<ul id="product-list">
    {{#each products}}
        <li id="{{id}}"> {{title}} -${{price}}</li>
    {{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/index.js"></script>