html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;  
  }
  
  body{
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  body, h3, h4, p, li, a, input {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .info{
    color: black;
    font-size: 18px;
  }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      margin-bottom: 1rem;
    }
    
  a {
    color: darkviolet;
    text-decoration: none;
    margin-right: 2rem;
    transition: text-shadow 0.3s ease-in-out;
  }
  
  a:hover {
    color: magenta;
  }
  
    span {
      color: gray;
      margin-right: 2rem;
    }
    
    input {
      width: 5rem;
      margin-left: 1rem;
    }
    
  
    .disabled {
      pointer-events: none;
      color: gray;
      text-decoration: none;
    }